
<main class="main-content container my-5">

    <div>
        <h2 class="content-title display-2">About us</h2>
        <hr class="content-hr">
    </div>

    <div class="container">

        <div class="row justify-content-center">
            <div class="lp-logo-container d-flex justify-content-center col-10 col-md-6 my-2">
                <img src="~/assets/logo.png" class="img-fluid" alt="FribergCarRentals logo">
            </div>
            <div class="col-12 col-md-8">
                <h5>Memorable Road Trips</h5>
                <p>Founded in 2014 near the scenic town of Rättvik, Sweden, our car rental company was born from a love for distinctive cars and memorable road trips. We specialize in offering niche and classic cars that make every holiday journey something special. Whether you're driving a retro classic, a vintage sports car, or something unique, our fleet is designed for those seeking a truly unforgettable driving experience.</p>
                <p>Our cars are perfect for those who want to take their time on the road, exploring Sweden's stunning landscapes and charming towns. With a variety of distinctive cars, we offer the perfect car for every road trip, whether you're cruising through scenic routes or taking in the beauty of the countryside.</p>
                <p>Over the years, our commitment to quality service has earned us overwhelmingly positive reviews from customers who appreciate our personalized service, attention to detail, and the opportunity to drive a car that's as unique as their journey.</p>
                <p>If you're looking for a holiday rental that stands out, offering both adventure and nostalgia, we're here to make your trip extraordinary. Book with us, and experience the open road in one of our carefully curated classic and niche cars.</p>
                <h5>Award-Winning Service</h5>
                <p>We're proud to have been recognized with prestigious awards, including being named a World Travel Awards winner twice. Additionally, we've earned multiple Tripadvisor awards for consistently high ratings and positive customer feedback. These accolades reflect our dedication to providing an exceptional experience, and we look forward to continuing to exceed your expectations.</p>
            </div>
            <div class="container my-4">
                <div class="d-flex flex-wrap justify-content-center">
                    <img style="height: 72px;" class="m-2" src="https://images.ctfassets.net/wmdwnw6l5vg5/5PtCccb5O06iU2tULwCLeZ/3d60f1e474f2a3ced43ef2bbcde12940/travel_award.png_h_250" alt="">
                    <img style="height: 72px;" class="m-2" src="https://images.ctfassets.net/wmdwnw6l5vg5/1EWRWAR8n6zUBGdmPTSt5x/d56d8c6f186ce50b09ba1924d452e85b/new-award-trip-advisor.png" alt="">
                    <img style="height: 72px;" class="m-2" src="https://www.worldtravelawards.com/images/shields/web/wta-winner-shield-2020-share.png?v=1574425287" alt="">
                    <img style="height: 72px;" class="m-2" src="https://static.tacdn.com/img2/tc/2024/TC_2024_botb_badge.png" alt="">
                </div>
            </div>
        </div>
    </div>

</main>

