<main class="main-content container my-5">
    <h1 class="text-danger">Restricted access.</h1>
    <h2>You do not have permissions to view this page.</h2>
    <a asp-controller="Home" asp-action="Index">Return to main page</a>
</main>

