<main class="main-content container my-5 text-center">
    <h1 class="text-danger fs-2">Restricted access.</h1>
    <h4>You do not have permissions to view this page.</h4>
    <a class="text-linx" asp-controller="Home" asp-action="Index">Return to main page</a>
</main>

