<main class="main-content container my-5 text-center">
    <h1 class="text-danger fs-2">Error</h1>
    <h4>An error occurred while processing your request.</h4>
    <a class="text-link" asp-controller="Home" asp-action="Index">Return to main page</a>
</main>

