<main class="main-content container my-5">
    <h1 class="text-danger">Error</h1>
    <h2>An error occurred while processing your request.</h2>
    <a asp-controller="Home" asp-action="Index">Return to main page</a>
</main>

